/* navbar */
.navbar{
    display: flex;
    align-items: center;
}

.navbar .logo img{
    width: 80%;
    
}
.navbar .quote{
    max-width: 50%;
    margin: auto;
    
}
.navbar .quote h1{
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff4d47;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2%;
}
/* home page - nav bar  (APP) */
.App .main{
    display: flex;
    min-height: 80vh;
    background-color: aliceblue;
}
