.Pyq-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.Pyq-container div{
    width: 400px;
    margin-top: 50px;
}
.Pyq-container div button{
    padding: 20px 30px ;
    border-radius: 10px;
    border: 0 ;
    margin-bottom: 50px;
    background-color: #BB0029;
    color: whitesmoke;
    font-size: 22px;

}
.pyq-title{
    text-align: center;
    color: #3A1F5D;
    padding: 40px;
}